.parallax {
    perspective: 0px;
    height: 170vh;
    width: 140vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layer1 {
    background-image: linear-gradient(black, darkseagreen);
    background-position: center;
    width: 100%;
    height: 100%;
    transform: translateZ(0px) scale(1);
}

.layer2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
    font-family:serif;
    height: 30vh;
    width: 60vw;
    min-height: 4cm;
    min-width: 8cm;
    margin: auto;
    background-image: linear-gradient(darkseagreen, black);
    background-position: center;
    transform: translateZ(0px) scale(1);
}

body {
    color: lavender;
    margin: 0;
}

div#central {
}

div#cabeçalho {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

div#cabeçalho > p {
    margin: auto 0.5em;
}

p {
    color: lavender;
    margin: 0;
    text-align: center;
    font-size: max(1.5em, 0.5cm) !important;
}

hr {
    width: 70%;
}

a:link {
    color: hotpink
}

a:hover {
    color: hotpink;
    animation: blinker 1.5s linear infinite
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a:visited {
    color: crimson
}

a:active {
    color: black
}
